.navbar-custom {
    background-color: #55686b;
}

.navbar-custom .nav-link {
    color: #c9d6e1;
}

.navbar-custom .nav-link:hover {
    color: #c9d6e1;
}

.logo-img {
    width: 75px;
    height: 75px;
}